body{
	padding: 0;margin: 0;
}
h4{
	font-size: 16px;
}
h5{
	font-size: 14px;
}

.overlay1{
	position: relative;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100vh;
	width: 100%;
	box-shadow: inset 0 0 0 1000px rgba(0,207,220,.8);
}
.overlay1 img{
	position: absolute;
	height: 100vh;
	width: 100%;
}

.overlay2{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: url('../../img/welcome2/img/bg2.png') no-repeat center/cover;
}

.overlay3{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: url('../../img/welcome2/img/bg.png') no-repeat center/cover;
}

.overlay4{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	height: 100vh;
	width: 100%;

}
.overlay4 .headersection{
	display: flex;
}
.overlay4 .headersection .logo {
	flex:1.7;
}
.overlay4 .headersection .menu {
	flex:2.3;
}

.menu li{
	margin-top: 5%;
	display: inline-block;
	list-style: none;
	padding: 10px;
	color: #fff;
}
.menu li:first-child{
	border-radius: 20px;
	background-color: #fff;
}
.menu li:last-child{
	width: 150px;
	border:1px solid #ddd;
	border-radius:4px;
	background-color: rgb(0,207,220,.4);
	text-align: center;
}
.menu a{
	color: #fff;
	text-decoration: none;
}
.menu li:first-child a{
	color: #06afba;
}

.logo{
	text-align: center;
	margin-top: 20px;
}
.logo img{
	width: 110px;
	display: inline-block;
}
.logo div{
	text-align: center;
	color: #fff;
	margin:1px;
	display: inline-block;
}
.logo div h4{
	margin-top: 20px;
}
/*-		body section	--*/
.bodysection{
	display: flex;
}
.bodysection .one{
	flex:3;
	text-align: center;
}
.bodysection .two{
	flex:1;
}
.bodysection .one .right, .left{
	width: 200px;
}
.bodysection .one .middle{
	display: block;
	width: 500px;

}
/*-		bar	--*/
.bodysection .bar-nav img{
	width: 100%;
}
.bodysection .two .bar-nav{
	cursor: pointer;
	position: fixed;
	left: -150px;
	width: 200px;
	height: 500px;
	transition: all 450ms ease-in-out;
}
.open{
	left: 0 !important;
}

.bodysection .two{
	position: relative;
}
.bodysection .nav{
	top: 0;
	left: 0;
	position: absolute;
	display: flex;
	flex-direction: column;
	margin-top: 45%;
    margin-left: 16%;
}
.bodysection .nav li{
	margin:10px 5px;
	background: url('../../img/bg.jpg');
	border-radius: 5px;
	border: 1px solid #000;
    cursor: pointer;
    width: 120px;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 2;
    font-weight: bold;
}
/*-		body section2	--*/
.bodysection2{
	position: fixed;
	text-align: center;
	margin-top: 10%;
	top: 35%;
    left: 45%;
    
}

.bodysection2 img{
	width: 200px;
	display: block;
	margin: auto;
}
.bodysection2 .btn-register{
	width: 200px;
	display: block;
	margin: auto;
	height: 35px;
	border-radius: 12px;
	border: 2px solid #000;
	background-color: #ffe147;
	box-shadow: 0px 2px 4px #696969;
	font-weight: bold;
	color:red;
}
/*-		footer section	--*/
.overlay4 .footersection{
	display: flex;
	width: 100%;
	position: absolute;
	bottom: 0;
}
.overlay4 .footersection .one {
	min-width: 10px;
	flex:1;
}
.overlay4 .footersection .two {
	min-width: 10px;
	flex:1;
}
.overlay4 .footersection .three {
	min-width: 10px;
	flex:1;
}
.overlay4 .footersection .four {
	min-width: 10px;
	flex:1;
}
.overlay4 .footersection .five {
	min-width: 10px;
	flex:1;
}

.social{

}

.five{
	text-align: center;
}
.five li{
	display: inline-block;
	list-style: none;
	width: 50px;

}
.five img{
	width: 50px;
}

.footersection .three {
	position: relative;
	width: 400px;
	background-color: red;
	z-index: 8;overflow: hidden;
}




.slide-img1{
	position: absolute;
	animation: img-a 30s ease-in-out infinite;
}

.slide-img2{
	position: absolute;
	animation: img-b 30s ease-in-out  infinite;
}

.slide-img3{
	position: absolute;
	animation: img-c 30s ease-in-out  infinite;
}

@keyframes img-a {
	0%{
		visibility:visible;
		opacity: 0.3;
	}
	25%{
		visibility:hidden;
		opacity: 0.1;
	}
	50%{
		visibility:hidden;
	}
	75%{
		visibility:hidden;
	}
	100%{
		visibility:hidden;
	}
}

@keyframes img-b {
	0%{
		visibility:hidden;
	}
	25%{
		visibility:hidden;
		opacity: 0.1;
	}
	50%{
		visibility:visible;
		opacity: 0.3;
	}
	75%{
		visibility:hidden;
		opacity: 0.1;
	}
	100%{
		visibility:hidden;
	}
}

@keyframes img-c {
	0%{
		visibility:hidden;
		opacity: 0.1;
	}
	25%{
		visibility:hidden;
	}
	50%{
		visibility:hidden;
	}
	75%{
		visibility:hidden;
		opacity: 0.1;
	}
	100%{
		visibility:visible;
		opacity: 0.3;
	}
}
